@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p></p>
    <div class="klasa">
        <h1>
            O hotelu
        </h1>
        <p>
            Ranczo to profesjonalna i indywidualna opieka płynąca z serca i umysłu.

            Jeśli stoją Państwo przed koniecznością znalezienia odpowiedniej opieki dla swojego pupila służymy Państwu naszą wiedzą i doświadczeniem.

            Nasz hotel dla psów Gdańsk zapewnia domową atmosferę dającą poczucie bezpieczeństwa, piękny teren rekreacyjny, wiejski klimat oraz całodobową opiekę weterynaryjną. Zwierzęta to nasza pasja.
            Przyjmujemy psy wymagające szczególnego nadzoru ze względu na stan zdrowia lub wiek. Podajemy leki i wykonujemy niezbędne zabiegi zgodnie z zaleceniami lekarza prowadzącego.
            Hotel to dom, w którym mieszkamy, to troskliwa opieka, to ręce które przytulą, to również indywidualne podejście do potrzeb pupila i rytm dnia zgodny z jego przyzwyczajeniami. Zapewniamy naszym podopiecznym jak najwięcej czasu na świeżym powietrzu, zabawę z przyjaciółmi oraz opiekunami. Staramy się zapewnić wszystkim gościom taką formę aktywności, jaka jest zalecana.

            Wiemy co przeżywają Państwo stając przed koniecznością pozostawienia psa w hotelu. Jesteśmy otwarci na wizyty zapoznawcze i długie rozmowy.

            W trakcie pobytu utrzymujemy kontakt z właścicielem, a także chętnie robimy relacje fotograficzne.

            Atutem naszego Hotelu są komfortowe warunki, jakie stworzyliśmy dla Państwa zwierząt oraz jego dogodna lokalizacja. Nasza miejscowość Grabiny-Zameczek znajduje się w bliskiej odległości od Pruszcza Gdańskiego i centrum Gdańska. Miejsce gdzie pies ma najlepszą opiekę w Trójmieście.

            Serdecznie zapraszamy wasze psy

            Wojciech Grabowski - lekarz weterynarii
            Alicja Grabowska - zootechnik
        </p>
            
    </div>
    <div class="klasa">
    <img src="~/lib/imgs/2.jpg" style="display:block; width:100%;" />
        <img src="~/lib/imgs/3dad3a9fb62806690e7f016b0918fb12.jpg" style="display:block; width:100%;" />
    

    </div>
    <div class="klasa" style="padding:10px; padding-right:0;" >
         <iframe style="display:block; width:100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9307.682244642006!2d18.569801993013616!3d54.323035733123604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd741cfaeee261%3A0xc81842bca61b99cc!2sZakoniczyn%2C%2080-180%20Gda%C5%84sk!5e0!3m2!1spl!2spl!4v1613170335710!5m2!1spl!2spl" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
         <h1>Rezerwacja i kontakt:</h1>
        <p1>
            Rezerwacja i kontakt:
            +48 600 816 205
            e-mail: ranczoweterynarza@gmail.com
            Zakoniczyn
            80-180 Gdańsk
        </p1>
    </div>
    <div style="clear:both;"></div>
</div>
